
[submodule "sample/style/Font-Awesome"]
	path = sample/style/Font-Awesome
	url = http://github.com/FortAwesome/Font-Awesome.git
[submodule "sample/style/bootstrap"]
	path = sample/style/bootstrap
	url = http://github.com/twbs/bootstrap.git
[submodule "sample/style/less.js"]
	path = sample/style/less.js
	url = https://github.com/cloudhead/less.js.git
