@import "base.less";
@import "navigator.less";
@import "toc.less";

h2, h3, h4, h5, h6 {
    border-bottom: 2px LightGrey solid;
    line-height: @base-line-height;
}

h2 {
    margin-bottom: 40px;
    padding: 5px;
    width: 90%;
    color: DarkGreen;
}

h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    color: DarkBlue;
}

h4 {
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    color: DarkBlue;
}

// FIXME: port more from o-blog
pre.src, pre.example, .modal-body > pre {
    .resizable(both);
    .box-shadow(0 3px 7px rgba(0,0,0,0.3));
    border: 1px solid @gray-lighter;
    background: @blog-background;
    color: @blog-foreground;
}

a {
    text-decoration: none;
    padding: 1px;
    color: @link-color;
}

#footer {
    min-height: 50px;
    margin-top: 30px;
    text-align: center;
}
#footer ul{
    list-style: none;
}
#footer li {
    float: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0px 0px 0px 0.3em;
    margin: 0px 0px 0px 0.6em;
}

#post-footer {

    ul {
        list-style: none;
    }

}

// TODO: rewrite this
.post-footer {
    min-height: @base-line-height;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    li {
        float: center;
        display: inline-block;
        vertical-align: baseline;
        padding: 0px 0px 0px 0.3em;
        margin: 0px 0px 0px 0.6em;
    }
}

.post-header {
    .date {
        border: 1px solid @gray-light;
        display: inline-block;
        width: 4em; 		// FIXME: use 3em here
	.text-center();
        a {
            display: block;
            color: fade(@link-color, 50%);
        }
        .date-d {
            font-size: 1.5em;
        }
        .date-m {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: bolder;
        }
        .date-y {
            background: @gray-light;
            font-size: 1em;
            font-weight: bolder;
        }
    }
}
