<!DOCTYPE html>
<html lang="{{{LANGUAGE}}}">
  {{{PAGE_HEADER}}}
  <body>
    {{{PAGE_NAVIGATOR}}}
    <div class="container">

      <!-- begin blog post content -->
      <div class="post-header">
        <div class="well">
          <div class="row">
            <div class="date col-md-1">
              <div class="date-d">{{{POST_DAY}}}</div>
              <div class="date-m"><a href="">{{{POST_MONTH_ABBREV}}}</a></div>
              <div class="date-y"><a href="">{{{POST_YEAR}}}</a></div>
            </div>
            <div class="col-md-1"> {{{PLUGIN_QRCODE}}} </div>
            <h1 class="col-md-offset-1">{{{TITLE}}}</h1>
          </div>
        </div>
      </div>

      {{{CONTENT}}}

      <div class="post-footer">
        <div class="well">
          Posted on {{{POST_DATE}}}
          <nav class="tag-cloud">
            <h1><i class="icon-tags"></i> related tags</h1>
            <ul>
	      {{#TAGS}}
              <li class="label label-inverse small"><a href="{{{TAG_URL}}}">{{{TAG}}}</a></li>
	      {{/TAGS}}
            </ul>
          </nav>
        </div>
      </div>
      <!-- end blog post content -->

      {{{PAGE_FOOTER}}}
    </div>
  </body>
</html>
