<!DOCTYPE html>
<html lang="{{LANGUAGE}}">
  {{{HEADER}}}
  <body>
    {{{NAVIGATOR}}}
    <!-- begin blog post content -->
    <h1>{{TITLE}}</h1>

    {{{CONTENT}}}

    <footer class="well article-footer">
      Author: {{AUTHOR}} Posted on {{DATE}}.
      <nav class="tag-cloud">
        <!-- <h1><i class="icon-tags"></i> related tags</h1> -->
        <h1>related tags</h1>
        <ul>
          <li class="label label-inverse small"><a href="/">test</a></li>
        </ul>
      </nav>
    </footer>
    <!-- end blog post content -->
    {{{FOOTER}}}
  </body>
</html>
