<!DOCTYPE html>
<html lang="{{{LANGUAGE}}}">
  {{{PAGE_HEADER}}}
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div id="toc"> </div>
        </div>

        <div class="col-md-8 col-md-offset-1">
          {{{CONTENT}}}

          {{{PLUGIN_DISQUS}}}
          {{{PAGE_FOOTER}}}
        </div>

      </div> <!-- row -->
    </div> <!-- container -->

    <!-- Extra javscript and css for note_post.html -->

    <!-- tocify -->
    <script src="{{{ROOT}}}/style/js/jquery-ui-1.10.3.custom.min.js " type="text/javascript"></script>
    <link href="{{{ROOT}}}/style/js/jquery-tocify/jquery.tocify.css"  rel="stylesheet" type="text/css" />
    <script src="{{{ROOT}}}/style/js/jquery-tocify/jquery.tocify.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      $(document).ready(function () {
          // Calls the tocify method on your HTML div.
          $("#toc").tocify({selectors: "h2, h3, h4"}).data("toc-tocify");
      });
    </script>

  </body>
</html>
