<!DOCTYPE html>
<html lang="{{{LANGUAGE}}}">
  {{{PAGE_HEADER}}}
  <body>

    <div class="col-md-3">
      <div id="toc"></div>
    </div>
    <div class="col-md-8">
      <div class="blog-header">
        <div class="well">
          <div class="row">
            <div class="col-md-2"> {{{PLUGIN_QRCODE}}} </div>
            <h1 class="col-md-offset-1">{{{TITLE}}}</h1>
          </div>
        </div>
      </div>

      {{{CONTENT}}}

      {{{PAGE_FOOTER}}}
    </div>

    <div id="note-footer">
      <a href="{{{BLOG_URL}}}"> Back to {{{BLOG_TITLE}}} </a>
    </div>

    <!-- Extra javscript and css for note_post.html -->

    <!-- tocify -->
    <script src="{{{ROOT}}}/style/js/jquery-ui-1.10.3.custom.min.js " type="text/javascript"></script>
    <script src="{{{ROOT}}}/style/js/jquery-tocify/jquery.tocify.min.js" type="text/javascript"></script>

    <!-- jquery.tocify.css is merged into blogit.less -->
    <!-- <link href="{{{ROOT}}}/style/js/jquery-tocify/jquery.tocify.css"  rel="stylesheet" type="text/css" /> -->

    <script type="text/javascript">
      $(document).ready(function () {
          // Calls the tocify method on your HTML div and make it ignore org-mode's toc.
          $("#toc").tocify({
	      selectors: "h2, h3, h4",
	      ignoreSelector: "#table-of-contents h2"
	  }).data("toc-tocify");
      });
    </script>
    <style type="text/css">
      body {
          padding-top: 20px;
      }
      @media (max-width: 767px) {
          #toc {
              position: relative;
              width: 100%;
              margin: 0px 0px 20px 0px;
          }
      }
    </style>
  </body>
</html>
