<!-- begin page_navigator template -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{BLOG_URL}}">{{BLOG_TITLE}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#tags"><i class="icon-tags"></i>Tags</a></li>
        <li><a href="{{BLOG_URL}}/rss.xml"><i class="icon-rss"></i> RSS</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- end page_navigator template -->
